li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
body {
  background-image: url('assets/images/burger.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/* {{!-- .row {
  background-image: url('assets/images/chef.jpg');
  background-repeat: no-repeat;
  
  background-size: 100% 100%;
} --}} */
.jumbotron {
  background: transparent;
}
.card {
    background: transparent;
}